@charset "UTF-8";

body{
    background-image: linear-gradient(to bottom,#313131,#252424);
}
main{
    width: 100vw;

    align-items: center;
    justify-content: center;
    display: flex;
    padding-bottom: 20px;
}

section{
    background-color: #1e1e1e;
    width: 300px;
    height: auto;
    border-radius: 10px;
    padding-bottom: 15px;
}

h1{
    color: lightskyblue;
    text-align: center;
    padding-bottom: 10px;
}
img{
    width: 100px;
    height: 100px;
    margin-left: 30px;
    border-radius: 10px;
    transition: all 0.3s ease;
}
img:hover{
    border-radius: 10px;
    box-shadow: 0px 0px 5px 3px rgba(117, 205, 240, 0.486);    position: relative;
    transform: scale(1.1);
    z-index: 10;
}
.paragrafos{
    display: flex;
    margin: auto;
    padding: auto;
    color: white;
}

.esquerda{
    margin-top: 0px;
    padding-left: 50px;
}
.direita{
    margin-top: 0px;
    padding-left: 70px;
}
#Linha2{
    padding-left: 10px;

}
#Bunker{
    padding-left: 90px;
}
#Linha3{
    padding-left: 10px;
}
#complexo{
    padding-left: 80px;
}
#Fliperama{
    padding-left: 70px;
}
#Hangar{
    padding-left: 50px;
}
#Kosaka{
    padding-left: 80px;
}
#Laboratorio{
    padding-left: 40px;
}
#Lavarapido{
    padding-left: 60px;
}
#Motoclube{
    padding-left: 45px;
}
#Yacht{
    padding-left: 80px;
}

input{
    margin-top: 10px;
    height: 30px;
    border-radius: 5px;
    color: white;
    margin-left: 50px;
    transition: all 0.3s ease;

}
#Voltar{
    background-color: rgb(43, 172, 231);
    color: black;
}
#Cadastrar{
    background-color: black;
}
input#Voltar:hover{
    box-shadow: 0px 0px 5px 3px rgba(35, 184, 253, 0.568);
    transform: scale(1.1);
}
input#Cadastrar:hover{
    box-shadow: 0px 0px 5px 3px rgb(53, 52, 52);
    transform: scale(1.1);
}
