@charset "UTF-8";

body{
    margin: 0px;
    padding: 0px;
}

main {
    width: 85%;
    max-width: 1000px;
    margin: auto;
    padding-bottom: 20px;
    padding-top: 1px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 4px 11px 5px rgb(10 10 10 / 58%);
    border-radius: 10px;
}



header h1{
    background-image: linear-gradient(to bottom, #14f19a,#2196f3);
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    box-shadow: 0px 4px 11px 5px rgba(109, 176, 240, 0.568);
}


#imagem1,#imagem2,#imagem3,#imagem4,#imagem5,#imagem6,#imagem7,#imagem8{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-bottom: 20vw;
    border-radius: 10px;
}

#imagem1 > p,#imagem2> p,#imagem3 > p,#imagem4 > p,#imagem5 > p,#imagem6 > p,#imagem7 > p,#imagem8>p{
    background-color: rgba(104, 102, 102, 0.534);
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 10px 10px 10px 10px;
    margin-left: 1vw;
    margin-right : 1vw;
    border-radius: 10px; 
}
#imagem1{
    background-image: url(imagens/1.jpeg);
    box-shadow: 0px 4px 11px 5px rgba(240, 231, 109, 0.568);
}

.video{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    margin: 20px auto;
    border-radius: 10px;
    overflow: hidden;

}
.video iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 10px;
}

#imagem2{
    background-image: url(imagens/2.png);
    box-shadow: 0px 4px 11px 5px rgba(240, 109, 109, 0.568);
}

#imagem3{
    background-image: url(imagens/3.png);
    box-shadow: 0px 4px 11px 5px rgba(109, 133, 240, 0.568);
}


#imagem4{
    background-image: url(imagens/4.jpg);
    box-shadow: 0px 4px 11px 5px rgba(240, 109, 109, 0.568);
}
#imagem5{
    background-image: url(imagens/5.jpeg);
    box-shadow: 0px 4px 11px 5px rgba(50, 52, 66, 0.568);
}

#imagem6{
    background-image: url(imagens/6.jpg);
    box-shadow: 0px 4px 11px 5px rgba(36, 35, 29, 0.568);
}

#imagem7{
    background-image: url(imagens/7.PNG);
    box-shadow: 0px 4px 11px 5px rgba(240, 231, 109, 0.568);
}

#imagem8{
    background-image: url(imagens/8.png);
    box-shadow: 0px 4px 11px 5px rgba(240, 231, 109, 0.568);
}

