            #textoPrincipal{
                font-size: 40px;
                font-size: bold;
                background-color: #8c47fa;
                color: aquamarine;
                padding: px;
            }